@page "/User/edit"
@inject HotelApp2.Models.Hotel_DBContext DB
@using HotelApp2.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

<PageTitle>Edit</PageTitle>

<h3>User</h3>
<h4>Edit</h4>
<hr />

@if (HUser is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h5 class="text-danger">@message</h5>

    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="HUser" OnValidSubmit="UpdateHUser" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="mb-3">
                    <label for="login" class="form-label">Login:</label>
                    <InputText id="login" @bind-Value="HUser.Login" class="form-control" />
                    <ValidationMessage For="() => HUser.Login" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <InputText id="password" @bind-Value="HUser.Password" class="form-control" />
                    <ValidationMessage For="() => HUser.Password" />
                </div>
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name:</label>
                    <InputText readonly="true" id="firstname" @bind-Value="HUser.FirstName" class="form-control" />
                    <ValidationMessage For="() => HUser.FirstName" />
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name:</label>
                    <InputText readonly="true" id="lastname" @bind-Value="HUser.LastName" class="form-control" />
                    <ValidationMessage For="() => HUser.LastName" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText readonly="true" id="email" @bind-Value="HUser.Email" class="form-control" />
                    <ValidationMessage For="() => HUser.Email" />
                </div>
                <div class="mb-3">
                    <label for="staffid" class="form-label">Staff:</label>
                    <InputSelect disabled="true" id="staffid" class="form-control" @bind-Value="HUser.StaffId">
                        @foreach (var st in staff)
                        {
                            <option value="@st.Id">@st.FirstName @st.LastName</option>
                        }
                    </InputSelect>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
                <a href="/User" class="btn btn-info">Back to List</a>
            </EditForm>
        </div>
    </div>

    <div class="mb-3">
        <h4 class="text-success">@success</h4>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public HUser? HUser { get; set; }

    private List<HStaff> staff;

    private string success = "";
    private string message = "";

    private string login;

    protected override async Task OnInitializedAsync()
    {
        staff = DB.HStaffs.ToList();

        HUser ??= await DB.HUsers.FirstOrDefaultAsync(m => m.Id == Id);

        if (HUser is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        login = HUser.Login;
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateHUser()
    {
        message = "";
        success = "";  

        if(LoginExists(HUser.Login) && HUser.Login != login)
        {
            message = "This login is already registred. Please, choose another one";
            return;
        }

        DB.Attach(HUser!).State = EntityState.Modified;

        try
        {
            success = "Editing...";

            await DB.SaveChangesAsync();

            message = "";
            success = "Edited successful!";
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!HUserExists(HUser!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }
    }

    bool HUserExists(byte id)
    {
        return DB.HUsers.Any(e => e.Id == id);
    }

    bool LoginExists(string login)
    {
        return DB.HUsers.Any(u => u.Login == login);
    }
}
