@page "/Booking/cancel"
@inject HotelApp2.Models.Hotel_DBContext DB
@using HotelApp2.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer


@attribute [Authorize(Roles = "Admin,Receptionist")]

<PageTitle>Cancel</PageTitle>

<h1>Booking</h1>

<h4 class="text-danger"><b>Are you sure you want to cancel this?</b></h4>
<hr />

<div>
    @if (hbooking is null || hbooking.Status is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Number</dt>
            <dd class="col-sm-10">@hbooking.Number</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Check-in Date</dt>
            <dd class="col-sm-10">@hbooking.CheckInDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Check-out Date</dt>
            <dd class="col-sm-10">@hbooking.CheckOutDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Amount</dt>
            <dd class="col-sm-10">@hbooking.Amount</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Comments</dt>
            <dd class="col-sm-10">@hbooking.Comments</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Room Number</dt>
            <dd class="col-sm-10">@hbooking.Room.Number</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@hbooking.Status.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Guest</dt>
            <dd class="col-sm-10">@hbooking.Guest.FirstName @hbooking.Guest.LastName</dd>
        </dl>
        <EditForm method="post" Model="hbooking" OnValidSubmit="CancelHBooking" FormName="cancel" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(hbooking is null)">Cancel</button> |
            <a href="/Booking">Back to List</a>
        </EditForm>
    }
</div>

@code {
    HBooking? hbooking;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hbooking = await DB.HBookings.Include(b => b.Guest)
                                     .Include(b => b.Status)
                                     .Include(b => b.Room)
                                    .FirstOrDefaultAsync(m => m.Id == Id);

        if (hbooking is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task CancelHBooking()
    {
        hbooking = await DB.HBookings.Include(b => b.Guest)
                                     .Include(b => b.Status)
                                     .Include(b => b.Room)
                                    .FirstOrDefaultAsync(m => m.Id == Id);

        hbooking!.StatusId = (byte)3;
        
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/Booking");
    }
}
