@page "/Living/checkOut"
@using HModels
@inject NavigationManager NavigationManager
@using HotelApp2.Controllers
@using Microsoft.EntityFrameworkCore
@inject             Controllers.Living LivingController
@inject             Controllers.Room RoomController

@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin,Receptionist")]


<PageTitle>Check-out</PageTitle>

<h1>Check-out</h1>

<h4 class="text-danger"><b>Are you sure you want to check-out this?</b></h4>
<hr />

<h5 class="text-danger">@message</h5>

<div>
    @if (hliving is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Number</dt>
            <dd class="col-sm-10">@hliving.Number</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Check-in Date</dt>
            <dd class="col-sm-10">@hliving.CheckInDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Check-out Date</dt>
            <dd class="col-sm-10">@hliving.CheckOutDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Amount</dt>
            <dd class="col-sm-10">@hliving.Amount</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Comments</dt>
            <dd class="col-sm-10">@hliving.Comments</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Room</dt>
            <dd class="col-sm-10">@hliving.Room.Number</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@hliving.Status.Name</dd>
        </dl>
        @*         <dl class="row">
    <dt class="col-sm-2">Booking Number</dt>
    <dd class="col-sm-10">@hliving.Booking.Number</dd>
    </dl> *@
    <dl class="row">
            <dt class="col-sm-2">Guest</dt>
            <dd class="col-sm-10">@hliving.Guest.FirstName @hliving.Guest.LastName</dd>
        </dl>
        <EditForm method="post" Model="hliving" OnValidSubmit="CheckOutLiving" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(hliving is null)">Check-out</button> |
            <a href="/Living">Back to List</a>
        </EditForm>
    }
</div>

@code {
    HModels.Living? hliving;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    private string message = "";

    protected override async Task OnInitializedAsync()
    {
        hliving = await LivingController.GetById(Id);

        if (hliving is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task CheckOutLiving()
    {
        message = "";

            HModels.Room room = await RoomController.GetById(Convert.ToInt16(hliving.Room.Id));
        message = await RoomController.CheckOut(room);

        hliving = await LivingController.GetById(Id);
        message = await LivingController.CheckOut(hliving);


        NavigationManager.NavigateTo("/Living");
    }
}