@page "/RoomType/Edit"
@page "/RoomType/Edit/{id:int}"
@using HotelApp2.Models;
@inject Models.Hotel_DBContext dbContext
@using Microsoft.EntityFrameworkCore
@using HotelApp2;
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Edit</PageTitle>

<h3>Room Type</h3>
<h4>Edit</h4>

<h4 class="text-danger">@message</h4>

@if(Id==null)
{
    <p><em>Not found</em></p>
}
else{
    <div class="row">
        <div class="col-md-3">
            <EditForm Model="HDRoomType" OnValidSubmit="UpdateType" FormName="Edit" Enhance>
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <InputText class="form-control" type="text" @bind-Value="@name" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Capacity</label>
                    <InputNumber class="form-control" @bind-Value="@capacity" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <InputNumber class="form-control" @bind-Value="@price" />
                </div>

                <button type="submit" class="btn btn-primary">Edit</button>
                <a href="RoomType" class="btn btn-info">Back to List</a>
            </EditForm>
        </div>
    </div>
    <div class="mb-3">
        <h4 class="text-success">@success</h4>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public HDRoomType? HDRoomType { get; set; } = new HDRoomType();


    public string name;
    public int capacity;
    public decimal price;

    string message = "";
    string success = "";



    protected override async Task OnInitializedAsync()
    {
        HDRoomType = await dbContext.HDRoomTypes.FirstOrDefaultAsync(t => t.Id == Id);

        if (HDRoomType is null)
        {
            NavigationManager.NavigateTo("notfound");
        } 
        else
        {
            name = HDRoomType.Name;
            capacity = (int)HDRoomType.Capacity;
            price = (int)HDRoomType.Price;
        }
    }

    public async Task UpdateType()
    {

        @if (String.IsNullOrEmpty(name))
        {
            message = "Name is required";
            return;
        }
        @if (capacity < 1 || capacity > 5)
        {
            message = "Capacity can be from 1 up to 5 people";
            return;
        }
        @if (price <= 0 || price > 10000)
        {
            message = "Price can be in range [0.01,10 000]";
            return;
        }

        dbContext.Attach(HDRoomType!).State = EntityState.Modified;

        try
        {
            success = "Editing...";

            HDRoomType.Capacity = (byte)capacity;
            HDRoomType.Price = (decimal)price;
            HDRoomType.Name = name;

            await dbContext.SaveChangesAsync();

            message = "";
            success = "Edited successful!";
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TypeExists(HDRoomType!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        // NavigationManager.NavigateTo("/RoomType");
    }

    bool TypeExists(int id)
    {
        return dbContext.HDRoomTypes.Any(e => e.Id == id);
    }
}