@page "/RoomType"
@using Microsoft.AspNetCore.Components.QuickGrid
@using HotelApp2
@using HModels;
@using Microsoft.AspNetCore.Components.Web;
@using HotelApp2.Controllers
@inject HDRoomTypeC RoomTypeController
@rendermode InteractiveServer

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

<h1>Room Types</h1>

<a href="RoomType/Create" style="font-size:20px"><i class="fas fa-plus"> Create new</i></a>


@if (RoomTypes != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Capacity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var type in RoomTypes)
            {
                <tr>
                    <td>@type.Name</td>
                    <td>@type.Capacity</td>
                    <td>@type.Price</td>
                    <td>
                        <a href="@($"RoomType/Edit/{type.Id}")"><i class="fas fa-edit"> Edit</i></a> |
                        <a href="@($"RoomType/Delete/{type.Id}")"><i class="fas fa-trash-alt"> Delete</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<HDRoomType> RoomTypes;

    protected override async Task OnInitializedAsync()
    {
        var types = RoomTypeController.Index();
        RoomTypes = types;
    }
}
